html {
    font-size: 62.5%;
    color:black;
}

body {
    font-size: 1.6rem;
    font-family: 'Krub', sans-serif;
    text-align: justify;
    background-color:whitesmoke;

}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(10, 53, 207);
    padding: 25px;
    text-shadow: 4px 2px 1px black;
    border-bottom: solid greenyellow;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    padding: 3rem;
}
h2 {
    text-shadow: 1px 1px 5px greenyellow;
}

h3 {
    color: rgb(0, 157, 255);
    ;
}
strong{
    color: black;
}

img {
    width: 23rem;
    height: 18rem;
    padding: 2rem;
}

.concepto{
    display: flex;
    background-color: rgba(128, 128, 128, 0.666);
    border-radius: 1rem;
    padding: auto 1rem;
}
.concepto__info {
    padding-left: 2rem;
}
.conclusiones{
    padding-left: 15%;
    padding-right: 15%;
    color: black;
}
.navegacion{
    margin: 10px auto 0px auto;
    padding-left: 30px;
    text-decoration: none;
   
  }
  .navegacion nav {
    display: flex;
    justify-content:space-around;
    text-align: center;
  }
  a{
    text-decoration: none;
    color:black; }

    nav a:hover{
        background-color: gray;
        color: white;
        border-radius: 10px;
      }